.button {      /*Botones*/
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color:  #8989a9;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0, 2, 2);
}
.button:hover {
  -fx-background-color: #005f99;
}

.button:pressed {
  -fx-background-color: #004080;
}

.fondo{     /* Fondo del Vbox Principal*/
    -fx-background-color: rgba(226, 226, 226, 0.4);
    
}

.Recuadros_Texto {      /* El Hbox de los botones del admin*/
    -fx-background-color: rgba(44, 44, 178, 0.6); 
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0, 2, 2);
}

.Recuadros_Texto:hover {
    -fx-background-color: rgba(44, 44, 178, 1);  /* Cambia el color al pasar el mouse */
}  

.Text_Label {     /* Los textos de los botones del Admin*/
     -fx-editable: false;
     -fx-font-family: "Georgia";
     /*-fx-font-family: "Trebuchet MS";      Tipo de fuente */
    -fx-font-size: 15px;           /* Tamaño de fuente */
    -fx-fill: white;          /* Color del texto */
    
}

.login_Fondo{
    -fx-border-color: white;
    -fx-border-width: 20px;
    -fx-background-color:  #005f99;
    -fx-background-radius: 100px;
}