.button {      /*Botones*/
    -fx-font-family: "Roboto";
    -fx-font-size: 13px;
    -fx-font-weight: bold;
    -fx-text-fill: white;
    -fx-background-color:  #8989a9;
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0, 2, 2);
}
.button:hover {
  -fx-background-color: #005f99;
}

.button:pressed {
  -fx-background-color: #004080;
}

.fondo{     /* Fondo del Vbox Principal*/
    -fx-background-color: rgba(226, 226, 226, 0.4);
    
}

.Recuadros_Texto {      /* El Hbox de los botones del admin*/
    -fx-background-color: rgba(44, 44, 178, 0.6); 
    -fx-background-radius: 6;
    -fx-effect: dropshadow(gaussian, rgba(0, 0, 0, 0.6), 4, 0, 2, 2);
}

.Recuadros_Texto:hover {
    -fx-background-color: rgba(44, 44, 178, 1);  /* Cambia el color al pasar el mouse */
}  

.TextTitle_Label {     /* Los titulos de los botones del Admin*/
     -fx-editable: false;
     -fx-font-family: "Georgia";
    -fx-font-size: 18px;           /* Tamaño de fuente */
    -fx-text-fill: white; /* Color azul para el título */
    -fx-fill: white; /* Color azul para el título */
    
}

.TextBody_Label {     /* Las descripciones de los botones del Admin*/
     -fx-editable: false;
     -fx-font-family: "Georgia";
     -fx-font-style: italic;
    -fx-font-size: 14px;           /* Tamaño de fuente */
    -fx-text-fill: white; /* Color azul para el título */
    -fx-fill: white; /* Color azul para el título */
    
}

.login_Fondo{
    -fx-border-color: white;
    -fx-border-width: 20px;
    -fx-background-color:  #005f99;
    -fx-background-radius: 100px;
}

.label-title { 
    -fx-font-family: "Arial Black";
    -fx-font-size: 20px; /* Tamaño de letra más grande */
    -fx-font-weight: bold; 
    -fx-text-fill: white; /* Color azul para el título */
    -fx-padding: 10px 0 10px 0; 
}